body{
font-family:'Sriracha', cursive;
margin: 20px auto 0 auto;
/*background-color: black;*/
}
.wholeLogo{
	border:black solid;
	width: 20%;
	float: left;
	margin-left: 2em;
	margin-top: .8em;
}
.nav{
	display: inline-block;
	width: 100%;
	height: 5%;
	cursor:pointer;
	margin-top: 0px;
    position: fixed;
    overflow: hidden;
    top: 0;
    float:right;
    font-style: normal;
    background-color:/*#B8Cbc9*/#70C5CC ;
    padding-bottom: 2em;
}
.navList{
	padding-top: 0;
	list-style: none;
	width: 60%;
	display: flex;
	margin-left: 50em;
	margin-top: 2em;

}
/*unvisited link*/
a:link{
	text-decoration: none;
}
/*mouse over link*/
a:hover{
	color:;
}
/*selected link*/
a:active{

}
.navLi{
	top: 0;
	padding-left: 2em;
	font-size:1.2em;
	font-family: 'Balsamiq Sans', cursive;
	text-decoration: none;
	color: #0B3057;
}
h1,
h2,
h3 {
	text-align: center;
}
h2{
	font-size:2em;
}
.content{
	clear: both;
	border:green solid;
	background-color:#4bb7a8
}
.homeImg{
	border:#70C5CC solid;
	border-width: 0.195em;
	width: 50%;
	text-align: center;
	float: left;
	padding-top: 6.1em;
	padding-right: 1em;
	padding-bottom: 2.7em;
	background-color:#70C5CC ;
}
.contentMain{
	float: right;
	border:#70C5CC solid ;
	width: 42%;
	padding-top: 9em;
	padding-right: 5.4em;
	padding-bottom: 8em;
	background-color:#70C5CC ;
}

.buttonMore {
  display: inline-block;
  border-radius: 4px;
  background-color: #B8Cbc9;
  border: none;
  color:  #0B3057;
  text-align: center;
  font-size: 20px;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 8em;
  margin-top: 6em;
  font-family: 'Balsamiq Sans', cursive;
}

.buttonMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonMore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonMore:hover span {
  padding-right: 25px;
}

.buttonMore:hover span:after {
  opacity: 1;
  right: 0;
}

.homeTitle{
	padding-top: 2%;
	font-size: 2.5em;
}
.featureCon{
	font-family: 'Balsamiq Sans', cursive;
}
.wrapper1{
	background-color: #2980B9  ;
}
.about{
	clear: both;
	display: flex;
	background-color: #0B3057;
	color: white;
}
.wrapper2{
	/*display: flex;*/
	padding-top: 3%;
}
.moreContent {
	/*border:brown solid;*/
	width: 40%;
	padding: 2em;
	margin-left: 7%;
	float: left;
}

.column1,
.column2,
.column3,
.column4{
	float: left;
	width: 17%;
	padding: 2em;
}
.column1{

 	/*border:green solid;*/
}
.column2{
	/*border:green solid;*/
}
.column3{
	/*border:green solid;*/
	padding-top: 0;
}
.column4{
	/*border:green solid;*/
	padding-top: 0;
}
.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutP{
	font-family: 'Kanit', sans-serif;
}
.featu{
	clear: both;
	padding-left:5em;
	padding-right: 2em;
	padding:3em 2em 8em 5em;
}
.featureTitle{
	margin-bottom: 0;
}
.featureCon{
	padding-left: 3em ;
	padding-right: 4em;
	text-align: center;
}
.col1{
	margin-left: 5em;
	width: 80%;
	padding-bottom: 15em;
}
.colPic1{
 	float: left;
 	padding-top: 1em;
 	width: 30%;
}
.col1Content{
 	float:right;
 	width: 70%;
}
.col2{
 	clear:both;
 	margin-left: 5em;
 	width: 80%;
 	padding-top: 3em;
}
.colPic2{
	float:right;
	padding-top: 1em;
	width: 30%;
}
.col2Content{
	padding-top: 3em;
	float: left;
	width: 70%;
	color:  #0B3057;
}
.col2List{
	/*font-family:'Comfortaa', cursive;*/
	font-family: 'Kanit', sans-serif;
	
}
.col3{
	clear: both;
	margin-left: 5em;
	width: 80%;
	padding-top: 3em;
}
.colPic3{
	float: left;
	padding-top: 1em;
	width: 30%;
}
.col3Content{
	float: right;
	width: 70%;
}
.allCon{
	padding-left: 3em;
}
.services{
	clear: both;
	width: 100%;
	color: white;
	margin-top: 10%;
	padding-top: 3%;
	background-color:#0B3057 ;
}
.serviceTitle{
	margin-bottom: 0;
}
.serviceCon{
	margin-top: 0;
	padding-left: 3em ;
	padding-right: 4em;
	text-align: center;
}
.serviceWrapper{
  	margin-top: 0;
  	padding-top: 0 ;
  	padding-left: 2em;
  	padding-bottom: 2em;
}
.container{
	/*border:red solid;*/
	text-align: justify;
}

.serviceCol1,
.serviceCol2,
.serviceCol3,
.serviceCol4{
	width:17%;
	display: inline-block;
	vertical-align: top;
	margin: auto 1em auto 1em;
	padding: 2em 1em 2em 1em;
	background-color: white;
	border-radius: 20px;
	
	/* IE fix. */
  *display: inline;
  zoom: 1;
}
.serviceH3{
	color:#0B3057 ;
}
.serviceCol1{
	margin-left: 6em;
}
.serviceP{
	color: black;
	/*font-family:'Comfortaa', cursive;*/
	font-family: 'Kanit', sans-serif;
}
.works{
	width: 100%;
	padding-top: 3%;
}
.img{
	display: flex;
}
.img1{
	display: inline-block;
	width: 30%;
	height: 40%;
	margin-left: 2em;
	border-radius: 20px;
	margin-bottom: 1em;
}
.img2{
	display: inline-block;
	width: 30%;
	margin-left: 2em;
	border-radius: 20px;
}
.img3{
	display: inline-block;
	width: 30%;
	margin-left: 2em;
	border-radius: 20px;
}
.comLogo{
	margin-top: 2em;
	width: 100%;
	background-color: #B8Cbc9;
	height: 10%;
	display: flex;
	border: red solid;
}
.comLogoClass{
	border:green solid;
	width: 30%;
	height: 40%;
	padding-right: 0%;
	margin-left: 0%;
	margin-bottom: 1em;
}
.contacts{
	width: 100%;
	background-color: #B5C5CE;
	padding-bottom: 30em;
}

.contactDetails{
	text-align: center;
}

.addrBar{
	background-color: white;
	font-family: 'Balsamiq Sans', cursive;
	width: 65%;
	margin-left: 6em;
}
.contactEmail{
	background-color: white;
	font-family: 'Balsamiq Sans', cursive;
	width: 30%;
	margin-top: 1em;
	margin-left: 6em;
	float: left;
}
.contactCall{
	background-color: white;
	font-family: 'Balsamiq Sans', cursive;
	width: 30%;
	float:right;
	margin-top: 1em;
	margin-right: 8em;
	
}
.leftSide{
	clear: both;
	float: left;
	width: 45%;
	padding-left: 4em;
}
.form{
	padding-top: 1em;
	width: 45%;
	padding-right: 2em;
	float: right;

}
.name{
	width: 33%;
	height: 6%;
	margin-right: 1em;
	border-radius: 20px;
}
.email{
	width: 33%;
	height: 6%;
	margin-right: 1em;
	border-radius: 20px;
}
.subject{
	width: 70%;
	height: 6%;
	border-radius: 20px;
}
.message{
	width:70%;
	height: 27%;
	border-radius: 20px;
}
.buttonSubmit{
  display: inline-block;
  border-radius: 4px;
  color:  #0B3057;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10em;
  margin-top: 0;
  font-family: 'Balsamiq Sans', cursive;
}
.footer{
	clear: both;
	text-align: center;
}
/*Responsive styles*/

/* Smartphone potrait mode */
@media (min-width: 300px) and (max-width: 640px){
	.wrapper,
	.content,
	.about,
	.works{
		border: pink solid;
		width: 100%;
	}
	.nav{
		overflow: hidden;
		background-color: ;
		position: relative;
	}
	/*hide the links inside the nav menu */
	.nav #myLink{
		display: none;
	}
	.imgCenter{
		visibility: none;
		border:red solid;
	}
	
}
/* tablet mode */
@media (min-width: 768px) and (max-width: 1023px){
	.wrapper,
	.content,
	.about,
	.featu,
	.services,
	.works{
		width: 100%;
	}
	.nav{
		display: inline-block;
		width: 100%;
		height: 2%;
		cursor:pointer;
		margin-top: 0px;
   		position: fixed;
    	overflow: hidden;
    	top: 0;
    	float:right;
    	font-style: normal;
    	background-color:#B8Cbc9 ;
    	padding-bottom: 2em;
	}
	.navList{
		padding-top: 0;
		list-style: none;
		width: 60%;
		display: flex;
		margin-top: 1em;
		margin-left: 13em;

	}
	.homeImg{
		border:#70C5CC solid;
		width: 100%;
		padding-top: 6em;
		padding-bottom: 1.39em;
		padding-right: 3em;
		padding-left: 4em;
		background-color:#70C5CC ;
	}
	.contentMain{
		width: 95%;
		padding-top: 0;
		background-color:white;
		border:none;
		margin-left: 3em;
		padding-left:1em;
		padding-bottom: 2em;
	}
	.homeCon{
		margin-left: 10em;
		font-size: 18pt;
		text-align: center;
		width: 80%;
		padding-bottom: 1em;
	}
	.buttonMore {
	  margin-left: 20em;
	  margin-top: 0em;
	}

	.homeTitle{	
		margin-left: 3em;
		width: 100%;
		padding-right: 1em;
	}
	.about{
		padding-right: 7em;
	}
	.moreContent{
		width: 100%;
	}
	.column1,.column2,.column3,.column4{
		width: 30%;
	}
	.column1{
		float: left;
		margin-left: 8em;
		padding-bottom: 1.5em;
	}
	.column2{
		float: right;
		margin-right: 2em;
		text-align: left;
		padding-bottom: 0;
	}
	.column3{
		clear: both;
		float:left;
		margin-left: 8em;
	}
	.column4{
		float: right;
		margin-right: 2em;
	}
	.col1,.col2,.col3,.col4{
		margin-left: 0;
	}
	.services{
		padding-right: 7em;
		
	}
	.serviceTitle{
		text-align: center;
		margin-left: 4em;
	}
	.serviceCon{
		margin-top: 0;
		text-align: center;
		margin-left: 5em;
		padding-left: 3em ;
		padding-right: 4em;
	}
	.serviceWrapper{
  		margin-top: 0;
	  	padding-top: 0 ;
	  	padding-left: 2em;
	  	padding-bottom: 2em;
	}
	.serviceCol1,
	.serviceCol2,
	.serviceCol3,
	.serviceCol4{
		width:28%;
		display: inline-block;
		vertical-align: top;
		margin: 1em 1em 1em 1em;
		padding: 2em 1em 2em 1em;
		background-color: white;
		border-radius: 20px;
		text-align: center;
		/* IE fix. */
	  *display: inline;
	  zoom: 1;
	}
	.serviceH3{
		color:#0B3057 ;
	}
	.serviceCol1{
		margin-left: 9em;
		border:#0B3057 solid;
	}
	.serviceCol2{
		padding-bottom: .5em;
		margin-right: 4em;
		border:#0B3057 solid;
		
	}
	.serviceCol3{
		margin-left: 9em;
		border:#0B3057 solid;
	}
	.serviceCol4{
		margin-right: 1.8em;
		border:#0B3057 solid;
	}
	.serviceP{
		color: black;
		/*font-family:'Comfortaa', cursive;*/
		font-family: 'Kanit', sans-serif;
	}
	.works{
		padding-right: 7em;
	}
	.worksTitle{
		margin-left: 4em;
	}
	.contacts{
		padding-top: 2em;
		padding-right: 7em;
		padding-bottom: 65em;
	}
	.contactTitle{
		margin-left: 4em;
	}
	.leftSide{
		float: none;
	}
	.addrBar{
		background-color: white;
		font-family: 'Balsamiq Sans', cursive;
		width: 100%;
		margin-left: 6em;
		padding-right: 5em;
		padding-left: 5em;
	}
	.contactEmail{
		width: 40%;
		margin-top: 1em;
		margin-left: 14em;
		padding-right: 3em;
		padding-left: 3em;	
	}
	.contactCall{
		width: 40%;
		margin-top: 1em;
		margin-right: -7.4em;
		padding-right: 3em;
		padding-left: 3em;
	}
	
	.form{
		width: 80%;
		margin-top: 2em;
		margin-left: 40em;
	}
	.name{
		margin-left: 8em;
		}
	.subject{
		margin-left: 8em;
	}
	.message{
		margin-left: 8em;
	}
	.buttonSubmit{
	  margin-left: 19em;
	  margin-top: 0;
	  
	}
}
@media (max-width: 1024px){
	.nav{
		display: inline-block;

		height: 2%;
		cursor:pointer;
		margin-top: 0px;
   		position: fixed;
    	overflow: hidden;
    	top: 0;
    	float:right;
    	font-style: normal;
    	background-color:#B8Cbc9 ;
    	padding-bottom: 2em;
	}
	.navList{
		padding-top: 0;
		list-style: none;
		width: 60%;
		display: flex;
		margin-top: 1em;
		margin-left: 13em;
	}
	.homeImg{
		border:#70C5CC solid;
		width: 100%;
		padding-top: 6em;
		padding-bottom: 1.39em;
		padding-right: 3em;
		padding-left: 4em;
		background-color:#70C5CC ;
	}
	.contentMain{
		width: 95%;
		padding-top: 0;
		background-color:white;
		border:none;
		margin-left: 3em;
		padding-left:1em;
		padding-bottom: 2em;
	}
	.homeCon{
		margin-left: 10em;
		font-size: 18pt;
		text-align: center;
		width: 80%;
		padding-bottom: 1em;
	}
	.buttonMore {
	  margin-left: 20em;
	  margin-top: 0em;
	}
	.about{
		width: 100%;
		border:red solid;
		margin-right: 4em;
	}
	.homeTitle{	
		margin-left: 3em;
		width: 100%;
		padding-right: 1em;
	}
	.contactCall{
		width: 40%;
		margin-top: 1em;
		margin-right: -7em;
		padding-right: 3em;
		padding-left: 3em;
	}
}