body{
font-family:'Sriracha', cursive;
margin: 20px auto 0 auto;
/*background-color: black;*/
}
.nav{
	border: red solid;
	display: inline-block;
	width: 100%;
	height: 5%;
	cursor:pointer;
	margin-top: 0px;
    position: fixed;
    overflow: hidden;
    top: 0;
    font-style: normal;
    background-color:#B8Cbc9 ;
    padding-bottom: 2em;
}
.navList{
	padding-top: 0;
	list-style: none;
	border:solid grey;
	color: red;
	display: flex;
	margin-left: 15em;
}
.navLi{
	border:solid pink;
	top: 0;
	padding-left: 2em;
	font-size:1.5em;
	font-family: 'Balsamiq Sans', cursive;
}

.content{
	border:green solid;
	padding:.6em;

}
h1,
h2,
h3 {
	text-align: center;
}
h2{
	font-size:2em;
}
.homeImg{
	width: 80%;
	text-align: center;
	margin-left: 10em;
}
.homeTitle{
	padding-top: 2%;
	font-size: 2.5em;
}
.wrapper1{
	background-color: #2980B9  ;
}
.about{
	display: flex;
	background-color: #0B3057;
	color: white;
}
.wrapper2{
	/*display: flex;*/
	padding-top: 3%;
}
.moreContent {
	/*border:brown solid;*/
	width: 40%;
	padding: 2em;
	margin-left: 7%;
	float: left;
}

.column1,
.column2,
.column3,
.column4{
	float: left;
	width: 17%;
	padding: 2em;
}
.column1{

 	/*border:green solid;*/
}
.column2{
	/*border:green solid;*/
}
.column3{
	/*border:green solid;*/
	padding-top: 0;
}
.column4{
	/*border:green solid;*/
	padding-top: 0;
}
.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutP{
	font-family: 'Kanit', sans-serif;
}
.featu{
	clear: both;
	padding-left:5em;
	padding-right: 2em;
	padding:3em 2em 8em 5em;
}

.featureCon{
	padding-left: 3em ;
	padding-right: 4em;
	text-align: center;
}
.col1{
	margin-left: 5em;
	width: 80%;
	padding-bottom: 15em;
}
.colPic1{
 	float: left;
 	padding-top: 1em;
 	width: 30%;
}
.col1Content{
 	float:right;
 	width: 70%;
}
.col2{
 	clear:both;
 	margin-left: 5em;
 	width: 80%;
 	padding-top: 3em;
}
.colPic2{
	float:right;
	padding-top: 1em;
	width: 30%;
}
.col2Content{
	padding-top: 3em;
	float: left;
	width: 70%;
	color:  #0B3057;
}
.col2List{
	/*font-family:'Comfortaa', cursive;*/
	font-family: 'Kanit', sans-serif;
	
}
.col3{
	clear: both;
	margin-left: 5em;
	width: 80%;
	padding-top: 3em;
}
.colPic3{
	float: left;
	padding-top: 1em;
	width: 30%;
}
.col3Content{
	float: right;
	width: 70%;
}
.allCon{
	padding-left: 3em;
}
.services{
	clear: both;
	width: 100%;
	color: white;
	margin-top: 10%;
	background-color:#0B3057 ;
}
.serviceTitle{
	margin-bottom: 0;
}
.serviceCon{
	margin-top: 0;
	padding-left: 3em ;
	padding-right: 4em;
	text-align: center;
}
.serviceWrapper{
  	margin-top: 0;
  	padding-top: 0 ;
  	padding-left: 2em;
  	padding-bottom: 2em;
}
.container{
	/*border:red solid;*/
	text-align: justify;
}

.serviceCol1,
.serviceCol2,
.serviceCol3,
.serviceCol4{
	width:17%;
	display: inline-block;
	vertical-align: top;
	margin: auto 1em auto 1em;
	padding: 2em 1em 2em 1em;
	background-color: white;
	border-radius: 20px;
	
	/* IE fix. */
  *display: inline;
  zoom: 1;
}
.serviceH3{
	color:#0B3057 ;
}
.serviceCol1{
	margin-left: 6em;
}
.serviceP{
	color: black;
	/*font-family:'Comfortaa', cursive;*/
	font-family: 'Kanit', sans-serif;
}
.works{
	width: 100%;
	border:black solid;
	padding-top: 3%;
}
.img1{
	display: inline-block;
	width: 30%;
	margin-left: 2em;
	border:red solid;
	border-radius: 20px;
}
.comLogo{
	margin-top: 2em;
	width: 100%;
	background-color: #B8Cbc9;
	height: 10%;
}
.contacts{
	width: 100%;
	border: pink solid;
}

/*Responsive styles*/

/* Smartphone potrait mode */
@media (max-width: 640px){

}
/* tablet mode */
@media (min-width: 641px) and (max-width: 991px){

}